html, body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #444654
}

.wrapper {
	min-height: 100%;
	position: relative;
	justify-content: center;
}
/* Navigation bar */
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 10px 10px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	outline: none;
}

nav a:hover {
	background-color: white;
	color: #333;
}

/* Header */
header {
	background-color: #3d3d3d;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.logo {
	font-size: 36px;
	margin: 0;
}

.slogan {
	font-size: 18px;
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

/* Cards container */
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Cards */
.card {
	background-color: #c5c5c5f5;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  
  .card img {
	max-width: 200px;
	max-height: 250px;
	margin-right: 20px;
  }
  
  .card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }

  .card h2, .table td{
	font-weight: bold;
  }
  
  .card h2 {
	font-size: 24px;
	margin: 10px 0 5px 0;
	line-height: 1.2;
  }
  
  .card p {
	font-size: 16px;
	margin: 5px 0 10px 0;
	line-height: 1.2;
  }
  

/* Table */
.table {
	margin: 10px 0;
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.table th {
	background-color: #f2f2f2;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #3d3d3d;
	text-align: center;
	}

@media screen and (max-width: 768px) {
	/* Navigation bar */
	nav {
		flex-direction: column;
	}

	nav a {
		display: block;
		margin: 5px 0;
	}

	/* Header */
	.logo {
		font-size: 24px;
	}

	.slogan {
		font-size: 16px;
		padding-bottom: 5px;
	}

	/* Cards container */
	.card-container {
		flex-direction: line;
		align-items: center;
	}

	/* Cards */
	.card {
		align-items: flex-start;
		max-width: 100%;
		margin: 10px 0;
	}

	.card img {
		margin-right: 0;
		margin-bottom: 10px;
	}

	/* Table */
	.table th, .table td {
		padding: 5px;
	}
}
